<!DOTYPE html>
<html>
    <head>
        <meta charset="=utf-8">
       
        <title>License Payment Page</title>
        <meta name="viewport" content="width=device-width">
        <meta name="keyword" content="Moses Work">
        <meta name="author" content="Oyebade Isaac">
        <link href= "{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
        <link href= "{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
        <link href= "{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
        <script src="{{ url_for('static', filename='js/boostrap.min.js') }}" ></script>
        
        

    </head>
    {% block body %}
    <body>
        <header>
            
                <div id="branding">
                    <h1><span class="highlight">TGS</span> Tax Generation System</h1>
                </div>
                <nav>
                    <ul>
                        {% if session.logged_in %}
                            <li style="padding-top:40px;"><a href="/logout/" >Logout</a></li>
                            <li style="padding-top:40px;"><a href="/dashboard/" >Dashboard</a></li>
                        {%  else%}
                            <li><a href="/" class="highlight">Home</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="services.html">Programs</a></li>
                            <li><a href="services.html">Communication</a></li>
                            <li><a href="services.html">Contact Us</a></li>
                        {% endif %}
                    </ul>
                </nav> 
                
        </header>
        <section class="container1">
            <div id="content2">
                    <legend style="color:rgb(46, 17, 211);">License Card Pin Payment Page for business operation </legend>
                    <p>Please Enter the Serial Number and Pin carefully to effect Payment</p>
            <form action="/licensepay/" style="margin-top: 80px;" method=post>
                {%with messages = get_flashed_messages(with_categories=true)%}
                    {%if messages%}
                        {%for category, message in messages%}
                            <div class="alert alert-{{category}}">
                                {{message}}
                            </div>
                        {%endfor%}
                    {%endif%}
                {%endwith%}
                <div class="form-group">
                    <label>Serial Number</label>
                    <input type="text" name="serialNo" class="form-control">
                </div>
                <div class="form-group">
                        <label>Card Pin</label>
                        <input type="text" name="cardpin" class="form-control" >
                </div>
              <button type="submit" class="btn btn-success" style="width:100%">Pay</button>
            </form>
            {% if error %}
                <p class="error"><strong>Error:</strong>{{error}}</p>
            {% endif %}
            </div>
        </section>
        <footer class="container">

        </footer>
    </body>
    {% endblock%}
</html>